*{
        padding: 0;
        margin: 0;
        border: 0;
    }
    body{
        font-family: verdana, sans-serif;
    }

    input[type=text].search {
        width: 250px;
        box-sizing: border-box;
        border: 2px solid rgba(240, 104, 34, 0.6);
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        margin-top: 5px;
        padding: 5px;
    }

    input[type=text]:focus {
        width: 350px;
    }
    .navbar{
        margin: 0;
    }
    div.menu{
            background-color: #E9EBEE;
            width: 15%;
            height: 800px;
            float: left;
            color:  #f06822;
        }
        div.menu div.list-case{
            width: 100%;
            margin-top: 20px;
            text-align: left;
        }
        div.menu div.list-case>span{
            height: 30px;
        }
        div.menu div.list-case h3{
            color: #f06822;
            display: block;
            height: 30px;
            line-height: 27px;
            overflow: hidden;
        }
        a{
            text-decoration-line: none;
            color:  #f06822;
        }
        a:hover{
            text-decoration-line: none;
            color:  #f06822;
        }
        div.menu div.list-case>a{
            /* border-top: 1px solid #333; */
            font-size: 15px;
            padding-left: 30px;
            text-decoration-line: none;
            color:  black;
        }
        div.menu div.list-case>a:hover{
            background-color: #FFFFFF;
        }
        div.menu>div:hover:not(.list-case){
            background-color: #ffffff;
        }
        div.menu>div{
            padding-left: 10px;
        }
        .container1{
            width: 85%;
            float: right;
        }
        a.ng-binding{
            color:  #f06822;
        }

    .glyphicon-chevron-down:before{content:"\e114"}