*{
        padding: 0;
        margin: 0;
        border: 0;
    }
    body{
        font-family: verdana, sans-serif;
    }

    input[type=text].search {
        width: 250px;
        box-sizing: border-box;
        border: 2px solid rgba(240, 104, 34, 0.6);
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        margin-top: 5px;
        padding: 5px;
    }

    input[type=text].search:focus {
        width: 400px
    }
    .navbar{
        margin: 0;
    }
    div.menu{
        background-color: #1A4D9A;
        width: 200px;
        height: 700px;
        float: left;
        color:  #ffffff;
    }

    .container1{
        width: 85%;
        float: right;
    }
    
    div.menu>nav>ul{
        border-top: 5px
    }

    div.menu>nav>ul>li{
        background-color: black;
        border-bottom: 1px solid white;
        /* padding: 5px 0 5px 0; */
        background-color: #1A4D9A;
        font-weight: bold;
        padding: 15px 0 15px 0;
    }

    div.menu>nav>ul>li a{
        color: white;    
    }

    div.menu>nav>ul>li:nth-child(1):hover{
        background-color: #f06822;
        padding-bottom: 0;
    }
    div.menu>nav>ul>li:nth-child(2):hover{
        background-color: #f06822;
        padding-bottom: 0;
    }
    div.menu>nav>ul>li:nth-child(3):hover{
        background-color: #f06822;
        padding-bottom: 0;
    }
    div.menu>nav>ul>li:hover{
        background-color: #f06822;
    }

    div.menu>nav>ul>li:nth-child(1):hover>ul>li:nth-child(1){
        margin-top: 15px
    }
    div.menu>nav>ul>li:nth-child(2):hover>ul>li:nth-child(1){
        margin-top: 15px;
    }
    div.menu>nav>ul>li:nth-child(3):hover>ul>li:nth-child(1){
        margin-top: 15px;
    }

    div.menu>nav>ul>li:hover{
        background-color: #f06822;
    }


    div.menu>nav>ul>li>ul>li:hover{
        background-color: rgba(240, 104, 34, 0.8);
    }
    

    div.menu>nav>ul>li:hover>ul{
        background-color: #174282;
    }

    a:hover{
        text-decoration: none;
    }

    div.menu>nav>ul>li:hover>ul{
        display: block;
    }


    div.menu>nav>ul>li>ul{
        display: none;
    }
    
    div.menu>nav>ul>li>ul>li{
        padding-left: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #8de2ef;
    }

    th{
        text-align: center;
    }